{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Pokemon Übersicht</h1>
        {% include 'includes/pokemon_table.html.twig' with {'pokemons': pokemons} %}
    </div>
{% endblock %}